[user]
	name = David Mändlen
	email = david.maendlen@bifroe.st
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[core]
	excludesfile = /home/damait06/dotfiles/git/.gitignore_global
[http]
	sslVerify = true
[push]
	default = matching
[alias]
	trash = git commit -m 'setting textwidth to 80 chars in mutt' add . && git commit -m 'trash' && git reset --hard HEAD^
[commit]
	gpgsign = true
