[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "loremipsum"]
	path = loremipsum
	url = https://github.com/vim-scripts/loremipsum
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-expand-region"]
	path = vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets
