*.gpg
*.swp
auth/*
bash/.bash_history
caff/*
gnupg/*
i3/.i3/i3log
msmtp/*
mutt/.mutt/alias*
mutt/.mutt/bifroest*
mutt/.mutt/cache/*
mutt/.mutt/gmail
mutt/.mutt/gpg_rules
mutt/.mutt/hse
mutt/.mutt/mailboxes
mutt/.mutt/sig*
mutt/.mutt/temp/*
netrc/*
offlineimap/*
pulse/*
pwsafe/*
pwgorilla/*
sig
ssh/*
subversion/*
vim/.viminfo
vim/.vim/bundle/*
vim/.vim/.netrwhist
virt-manager/*
weechat/.weechat/irc.conf
weechat/.weechat/weechat.log
weechat/.weechat/logs
zsh/.zcompdump*
zsh/.zsh_history
