!Terminal
URxvt.termName:		rxvt
URxvt.reverseVideo:	True
URxvt.font:		xft:inconsolata:pixelsize=20
URxvt.loginShell:	True
URxvt.saveLines:	4095
URxvt.perl-ext-common:	default,matcher
URxvt.urlLauncher:	chromium
URxvt.matcher.button:	2
URxvt.scrollstyle:	xterm

!Screen
xft.dpi:		100
