!Terminal
URxvt.termName:		rxvt
URxvt.reverseVideo:	True
URxvt.font:		xft:inconsolata:pixelsize=20
URxvt.loginShell:	True
URxvt.saveLines:	4095
URxvt.perl-ext-common:	default,matcher
URxvt.url-launcher:	/usr/bin/firefox
URxvt.matcher.button:	2
URxvt.scrollstyle:	xterm

!Terminal colours
Urxvt.foreground: white
Urxvt.background: black

*.color0:  #2E3436
*.color1:  #a40000
*.color2:  #4E9A06
*.color3:  #C4A000
*.color4:  #3465A4
*.color5:  #75507B
*.color6:  #ce5c00
*.color7:  #babdb9
*.color8:  #555753
*.color9:  #EF2929
*.color10: #8AE234
*.color11: #FCE94F
*.color12: #729FCF
*.color13: #AD7FA8
*.color14: #fcaf3e
*.color15: #EEEEEC

!Screen
xft.dpi:		200
